@inherits ReportComponent

<PageTitle>@Report.Name</PageTitle>

@if(Report != null)
{
    <div class="report">

        <div class="report-navigation">
            <div class="nav-block">
                <a class="nav-link link-copy @CssIsNull(DeeperPeriod, "hidden")" href="@GetDeeperPeriodConfig()?.GetLinkHref()">
                    @DeeperPeriod?.NameCategory ↓
                </a>
            </div>
            <div class="nav-block" style="flex: 1">
                @if (PrevDateRange.IsInsideRumineBorders() && PrevDateRange.IsAnyPeriod())
                {
                    <a class="nav-link link-prev" href="@GetPrevDateConfig()?.GetLinkHref()">
                        ← @PrevDateRange.GetName()
                    </a>
                }
                <a class="nav-link link-copy" href="create" @onclick="CreateFromThis">
                    Создать новый отчет!
                </a>
                @if (NextDateRange.IsInsideRumineBorders() && NextDateRange.IsAnyPeriod())
                {
                    <a class="nav-link link-next" href="@GetNextDateConfig()?.GetLinkHref()">
                        @NextDateRange.GetName() →
                    </a>
                }
            </div>
            <div class="nav-block">
                <a class="nav-link link-copy @CssIsNull(HeigherPeriod, "hidden")" href="@GetHeigherPeriodConfig()?.GetLinkHref()">
                    @HeigherPeriod?.NameCategory ↑
                </a>
            </div>
        </div>

        <header class="page-header">
            <img alt="Отчет" src="images/clipboard.svg" />
            <h2>@Report.Name</h2>
        </header>

        <div class="content">

            <div class="report-info">

                <section class="stat-params-row">
                    <div class="parameter">
                        <span class="parameter-name">Дней:</span>
                        <span class="parameter-value">@Report.DateRangePosts.DaysDifference.ToString("#,0")</span>
                    </div>
                    <div class="parameter">
                        <span class="parameter-name">Страниц:</span>
                        <span class="parameter-value">@Report.GetTotalValue(MeasureUnits.Pages).ToString("#,0")</span>
                    </div>
                    <div class="parameter">
                        <span class="parameter-name">Сообщений:</span>
                        <span class="parameter-value">@Report.GetTotalValue(MeasureUnits.Messages).ToString("#,0")</span>
                    </div>
                    @* <div class="parameter">
                        <span class="parameter-name">Записей:</span>
                        <span class="parameter-value">@Report.Length</span>
                    </div> *@
                </section>
            </div>

            <div class="report-view">
                <ReportViewComponent Report="@Report" />
            </div>

        </div>

    </div>
}
else if(API.IsLoaded.HasValue)
{
    <section class="load-report-section">
        <h2 class="load-report-header">Загрузка статистики</h2>
        <p class="load-report-message">Получаем данные, конструируем могучие диаграммы и длинные списки...</p>
    </section>
}

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private ConfigurationReport ReportConfig => Report.Configuration;

    private DateRange NextDateRange => ReportConfig.DateRangeNext;
    private DateRange PrevDateRange => ReportConfig.DateRangePrevious;

    private Period? DeeperPeriod => Report.GetDeeperPeriod();
    private Period? HeigherPeriod => Report.GetHeigherPeriod();

    private ConfigurationReport GetDeeperPeriodConfig()
    {
        return ReportConfig.CopyThisWithPeriod(DeeperPeriod);
    }
    private ConfigurationReport GetHeigherPeriodConfig()
    {
        return ReportConfig.CopyThisWithPeriod(HeigherPeriod);
    }
    private ConfigurationReport GetPrevDateConfig()
    {
        return ReportConfig.CopyThisWithNewRange(PrevDateRange);
    }
    private ConfigurationReport GetNextDateConfig()
    {
        return ReportConfig.CopyThisWithNewRange(NextDateRange);
    }

    private void CreateFromThis()
    {
        var newConfig = ReportConfig.CopyThisWithNewRange(ReportConfig.DateRange);
        App.ReportConfigEditor.SetNewConfig(newConfig);
    }
}
