<h3>Диаграмма</h3>
<section>
    <b>Настройки диаграммы</b>
    <select class="options" @onchange="@(test => Mode = test.Value.ToString())">
        @foreach (var mode in Modes)
        {
            <option>@mode</option>
        }
    </select>
    <label>
        <span>Ширина</span>
        <input type="number" @bind-value="@Options.Width" />
    </label>
    <label>
        <span>Высота</span>
        <input type="number" @bind-value="@(Options.Height)" />
    </label>
    <label>
        <span>Цвет</span>
        <input type="text" @bind-value="@Options.Color" />
    </label>
</section>

@*<svg>
    <rect cx="0" cy="0" width="100" height="5" fill="green" stroke="lightgreen" />
</svg>*@

@if (Mode == "Гистограмма")
{
    <p>Гистограмма</p>
    <svg width="100" height="70">
        <rect x="0" y="0" height="50" width="10" fill="transparent" stroke="transparent"/>
        <rect x="0" y="40" height="10" width="10" fill="green" stroke="blue" />

        <rect x="10" y="0" height="50" width="10" fill="transparent" stroke="transparent"/>
        <rect x="10" y="30" height="20" width="10" fill="green" stroke="blue" />

        <rect x="10" y="0" height="50" width="10" fill="transparent" stroke="transparent"/>
        <rect x="10" y="20" height="30" width="10" fill="green" stroke="blue" />

        <rect x="20" y="0" height="50" width="10" fill="transparent" stroke="transparent"/>
        <rect x="20" y="10" height="40" width="10" fill="green" stroke="blue" />
    </svg>
}
else if (Mode == "Гистограмма горизонтальная")
{

}
else if (Mode == "Круги")
{

}
else if (Mode == "График")
{
    <p>Круги</p>
}
else
{
    <p>Что-то</p>
}


@code {
    public string Mode { get; set; } = "Гистограмма";
    public string[] Modes { get; set; } = new string[] { "Гистограмма", "Гистограмма горизонтальная", "Круги", "График" };


    [Parameter]
    public StatisticsReport Report { get; set; }
    public DiagramOptions Options { get; set; } = new DiagramOptions();

    private IEnumerable<DataEntry> Entries => Report.Entries.Select((e, index) => new DataEntry(index, e, Report, Options));
}
