@inherits ReportComponent

<table class="table-activity">
    <caption>Классическая таблица 2.0, сообщения</caption>
    <thead>
        <tr>
            <th class="title">@Report.Period.Name</th>
            <th class="sum-title">Σ</th>
            @foreach (var key in Table.ColGroups)
            {
                <th class="secondary-key">@key</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Table.Table)
        {
            <tr>
                <th class="primary-key">@group.Key</th>
                <td class="posts sum">@Table.TableSum[group.Key].ToString("#,0")</td>

                @foreach (var col in group.Value)
                {
                    if (col.Value == null)
                    {
                        <td class="posts unknown">?</td>
                    }
                    else
                    {
                        <td class="posts" title="@($"{col.Value.Range.From.ToString(col.Value.DateFormat)}")" style="@($"background-color: {View.Rules.GetFor(col.Value).Color}")">
                            @col.Value.PostsWritten.ToString("#,0")
                        </td>
                    }
                }
            </tr>
        }

    </tbody>
</table>
@code {
    public TableGrouping Table => new TableGrouping(Report.Period.Type, Report.Entries);
}
