@page "/add"

<div class="stat-adding">
    <h2>Добавить пост</h2>
    <section class="form-add">
        <div class="options-item options-link-info">
            @*<header class="options-header">
                <span>Ссылка и информация</span>
            </header>*@
            <ul class="option-property-list">
                <li class="option-property">
                    <label>
                        <span class="option-property-name">Ссылка</span>
                        <input type="text" placeholder="showtopic-15361/page-9323/" @bind-value="(Entry.Link)" />
                    </label>
                </li>
                <li class="option-property">
                    <label>
                        <span class="option-property-name">Сведения</span>
                        <input type="text" placeholder="#186603 | Сегодня, 14:42" @bind-value="(Entry.TopicInfo)" />
                    </label>
                </li>
            </ul>
        </div>

        <ul class="results-list">
            <li class="@($"results-item {Entry.CheckResult.CssClass}")">
                <div class="sending-area">
                    <span>
                        @Entry.CheckResult.Message
                    </span>
                </div>
            </li>
            <li class="results-item-list">
                <ul class="results-list-inner">
                    @foreach (var message in Entry.CheckResult.Inner)
                    {
                        <li class="@($"results-item {message.CssClass}")">
                            @message.Message;
                        </li>
                    }
                </ul>
            </li>
        </ul>
        <button class="@($"send-post {Entry.CheckResult.CssClass}")" @onclick="@(() => Entry.SendPost())">
            Добавить пост в базу
        </button>
        @if (Entry.AddingResult != null)
        {
            <p class="@Entry.AddingResult.CssClass">
                @Entry.AddingResult.Message
            </p>
        }


        @*<p>
            Сообщение успешно (или не очень) добавлено!
        </p>*@

        <details>
            <summary>Полная информация</summary>
            <div class="options-list">
                <div class="options-item">
                    <header class="options-header">
                        <span>Пост *</span>
                    </header>
                    <ul class="option-property-list">
                        <li class="option-property option-post-info">
                            <label>
                                <span class="option-property-name">Дата:</span>
                                <input class="input-post-date" type="date" @bind-value="(Entry.EditingPost.Date)" />
                            </label>
                            <label>
                                <span class="option-property-name">Время:</span>
                                <input class="input-post-date" type="time" @bind-value="(Entry.EditingPost.Date)" />
                            </label>
                        </li>
                        <li class="option-property option-post-info">
                            <label>
                                <span class="option-property-name">ID:</span>
                                <input class="input-post-id" type="number" width="20" @bind-value="(Entry.EditingPost.ID)" />
                            </label>
                            <label>
                                <span class="option-property-name">Страница: @(Entry.EditingPost.Page)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="options-item">
                    <header class="options-header">
                        <span>Тема</span>
                    </header>
                    <ul class="option-property-list">
                        <li class="option-property option-post-info">
                            <label class="non-required">
                                <span class="option-property-name">ID:</span>
                                <input type="number" @bind-value="(Entry.EditingPost.TopicID)" />
                            </label>
                            <label class="non-required">
                                <span class="option-property-name">Позиция поста в теме:</span>
                                <input type="number" @bind-value="(Entry.EditingPost.TopicIndex)" />
                            </label>
                        </li>
                        <li class="option-property option-post-info">
                            <label class="non-required">
                                <span class="option-property-name">Это чат:</span>
                                <input type="checkbox" />
                            </label>
                            <label class="non-required">
                                <span class="option-property-name">Название:</span>
                                <input type="text" />
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </details>
    </section>
</div>

@code{
    public NewPost Entry => StatApp.App.EditingPost;
}
