@inherits EditComponent
@page "/add"

<section class="new-post">
    <header>
        <h2>Добавить пост</h2>
    </header>

    <div class="content">

        <div class="inputs column">
            <label for="post-link">Ссылка:</label>
            <input type="url" id="post-link" maxlength="120" size="120" required autofocus placeholder="showtopic-15361/page-9323/" @bind:event="oninput" @bind="(EditPost.Link)" />

            @if (!string.IsNullOrEmpty(EditPost.Link))
            {
                <label for="post-info">Сведения:</label>
                <input type="text" id="post-info" maxlength="120" size="120" required placeholder="#186603 | Сегодня, 14:42" @bind-value="(EditPost.TopicInfo)" />
            }
        </div>

        <details class="information">
            <summary>Подробности:</summary>
            <hr />
            <ul>
                <li class="@EditPost.CheckResult.CssClass">
                    <span>@EditPost.CheckResult.Message</span>
                </li>
                <li>
                    <ul>
                        @foreach (var message in EditPost.CheckResult.Inner)
                        {
                            <li class="@message.CssClass">
                                <span>@message.Message</span>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </details>

        <div class="sending">
            @if (EditPost.IsOk)
            {
                <button @onclick="@(async () => await EditPost.SendPost())">
                    Добавить пост в базу
                </button>
            }
        </div>
        
        <div class="result">
            @if (EditPost.AddingResult != null)
            {
                <p>
                    @EditPost.AddingResult.Message
                </p>
            }
        </div>
    </div>

</section>

@code{
    public NewPost EditPost => App.EditingPost;
}
