@inherits StatComponent
@page "/statistics/compare"

<section class="comparison">
    <header>
        <h2>@Comparison.Name</h2>
    </header>

    <section class="options">

        <header>
            <img src="images/settings.svg" />
            <h3>
                Настройка сравнения
            </h3>
        </header>

        <div class="content row">

            <div class="description">
                <dl>
                    <dt>Источник а*тивности:</dt>
                    <dd>
                        <p>
                            Может быть конкретной темой, всем форумом или чем-то в этом духе. Комбинированные опции типа "всех ФЧ" работают, но не идеально.
                        </p>
                    </dd>
                    <dt>Сравнение:</dt>
                    <dd>
                        <p>
                            Если в списке источников присутствует <b>главный</b> элемент, то показатели всех остальных будут сравниваться именно с ним.<br />
                            Главный элемент может быть только один, если он не назначен, то сравнение будет обзорное, без вычисления какой-либо разницы.
                        </p>
                    </dd>
                    <dt>Показатели сравнения:</dt>
                    <dd>
                        <p>Имеют смысл, если есть главный элемент</p>
                        <ul>
                            <li>
                                <p>
                                    <i>Проценты</i> - отображает разницу в относительном формате. Для дат не работает!
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i>Значения</i> - отображает разницу в абсолютном формате
                                </p>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="compare-values">
                    <Collection List="Selection.CompareValues" Selected="CompareValue" T="CompareValue" OnSelectCallback="Set" />
                </div>
            </div>
            
            <table class="sources-table">
                <colgroup>
                    <col style="width: 60%"/>
                    <col style="width: 25%"/>
                    <col style="width: 15%"/>
                </colgroup>

                <thead>
                    <tr>
                        <th>Источник</th>
                        <th>Тип</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Comparison.Items)
                    {
                        <tr>
                            <td>@item.Name</td>

                            @if (Comparison.CompareElement == item)
                            {
                                <td class="main"> <button title="Без сравнения" @onclick="() => Comparison.ToggleCompare(null)"><span>[ Главный ]</span> </button> </td>
                            }
                            else
                            {
                                <td class="support"> <button title="Сделать главным" @onclick="() => Comparison.ToggleCompare(item)"><span>[ Опорный ]</span></button> </td>
                            }

                            <td class="delete"> <button title="Удалить" @onclick="() => Comparison.Toggle(item)">[ X ]</button> </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">
                            <label for="new-source">Добавить:</label>
                            <select id="new-source" @bind="NewItem">
                                <optgroup label="Общие">
                                    @foreach (var possible in PossibleAll)
                                    {
                                        <option @onclick="() => Comparison.Toggle(possible)">
                                            @possible.Name
                                        </option>
                                    }
                                </optgroup>
                                <optgroup label="Темы">
                                    @foreach (var possible in PossibleTopics)
                                    {
                                        <option @onclick="() => Comparison.Toggle(possible)">
                                            @possible.Name
                                        </option>
                                    }
                                </optgroup>
                                <optgroup label="Форумные чаты">
                                    <option value="-">-</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </section>

    <section class="results">
        <header>
            <img src="images/menu.svg" />
            <h3>
                Результаты
            </h3>
        </header>

        <div class="content">
            @if (!Comparison.IsEmpty)
            {
                <table class="compare-table">
                    <thead>
                        <tr>
                            <th rowspan="2">Показатель</th>
                            <th colspan="@(Comparison.Items.Count * 2)">Источники</th>
                        </tr>
                        <tr class="source-name">
                            @foreach (var info in Comparison.Items)
                            {
                                <th @onclick="() => Comparison.ToggleCompare(info)" colspan="2" class="@GetSourceClass(info)">
                                    @info.Name
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var row in PropertyRows())
                        {
                            <tr>
                                <td class="property">@row.First().Name</td>
                                @foreach (var cell in row)
                                {
                                    if (cell.CompareEqual())
                                    {
                                        <td colspan="2">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>@cell.ToString()</td>
                                        <td>
                                            <span class="@GetCompareClass(cell)">@GetValueCompare(cell)</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <th colspan="@(2 + Comparison.Items.Count * 2)">Сообщений написано</th>
                        </tr>
                        @foreach (var row in HistoryRows())
                        {
                            <tr>
                                <td class="property">@row.First().Name</td>
                                @foreach (var activity in row)
                                {
                                    <td colspan="2">@activity.ToString()</td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>

            }
        </div>
    </section>

</section>
