@inherits StatComponent
@page "/statistics/compare"

<section class="comparison">
    <header>
        <h2>@Comparison.Name</h2>
    </header>

    <section>
        @*<header>
            <h3>
                Описание
            </h3>
        </header>*@
        <div class="content">
            <p>
                Что же мы тут можем сравнивать? А вот давайте и глянем.
            </p>
            <dl>
                <dt>Источник а*тивности:</dt>
                <dd>
                    <p>
                        Может быть конкретной темой, всем форумом или чем-то в этом духе. Комбинированные опции типа "всех ФЧ" вроде и работают! Но не идеально.
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>Сравнение:</dt>
                <dd>
                    <p>
                        Если в списке источников присутствует <b>главный</b> элемент, то показатели всех остальных будут сравниваться именно с ним.<br />
                        Если главного элемента нет, то сравнение будет просто обзорное. Главный элемент может быть только один
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>Показатели сравнения:</dt>
                <dd>
                    <p>Имеют смысл, если сравнение не обзорное</p>
                    <ul>
                        <li>
                            <p>
                                <span>Проценты</span> - отображает разницу в относительном формате. Для дат, увы, не работает!
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Значения</span> - отображает разницу в абсолютном формате
                            </p>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </section>

    <section class="options">
        <header>
            <h3>
                Настройка
            </h3>
        </header>
        <div class="content row">
            <table class="sources">
                <thead>
                    <tr>
                        <th>Источник</th>
                        <th>Тип</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Comparison.Items)
                    {
                        <tr>
                            <td>@item.Name</td>

                            @if (Comparison.CompareElement == item)
                            {
                                <td class="main"> <button title="Без сравнения" @onclick="() => Comparison.SetCompare(null)"><span>[ Главный ]</span> </button> </td>
                            }
                            else
                            {
                                <td class="support"> <button title="Сделать главным" @onclick="() => Comparison.SetCompare(item)"><span>[ Опорный ]</span></button> </td>
                            }

                            <td class="delete"> <button title="Удалить" @onclick="() => Comparison.Toggle(item)">[ X ]</button> </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">
                            <label for="new-source">Добавить:</label>
                            <select id="new-source" @bind="NewItem">
                                <optgroup label="Общие">
                                    @foreach (var possible in PossibleAll)
                                    {
                                        <option @onclick="() => Comparison.Toggle(possible)">
                                            @possible.Name
                                        </option>
                                    }
                                </optgroup>
                                <optgroup label="Темы">

                                    @foreach (var possible in PossibleTopics)
                                    {
                                        <option @onclick="() => Comparison.Toggle(possible)">
                                            @possible.Name
                                        </option>
                                    }

                                </optgroup>
                                <optgroup label="Форумные чаты">
                                    <option>-</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>

                </tbody>
            </table>

            <Collection HeaderText="Показатели сравнения" List="Values" Selected="CompareValue" T="CompareValue" OnSelectCallback="Set" />
        </div>
    </section>

    <section>
        <header>
            <h3>Таблица</h3>
        </header>

        <div class="content">
            @if (!Comparison.IsEmpty)
            {
                <table>
                    <thead>

                        <tr>
                            <th rowspan="2">Показатель</th>
                            <th colspan="@(Comparison.Items.Count * 2)">Источники</th>
                        </tr>
                        <tr class="source-name">
                            @foreach (var info in Comparison.Items)
                            {
                                <th @onclick="() => Comparison.SetCompare(info)" colspan="2" class="@GetSourceClass(info)">
                                    @info.Name
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var row in PropertyRows())
                        {
                            <tr>
                                <td class="property">@row.First().Name</td>
                                @foreach (var cell in row)
                                {
                                    if (cell.CompareEqual())
                                    {
                                        <td colspan="2">@cell.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>@cell.ToString()</td>
                                        <td>
                                            <span class="@GetCompareClass(cell)">(@GetValue(cell))</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                        <tr>
                            <th colspan="@(2 + Comparison.Items.Count * 2)">Сообщений написано</th>
                        </tr>
                        @foreach (var row in ActivityRows())
                        {
                            <tr>
                                <td class="property">@row.First().Name</td>
                                @foreach (var activity in row)
                                {
                                    <td colspan="2">@activity.ToString()</td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>

            }
        </div>
    </section>

</section>
