@inherits StatComponent
@page "/statistics"

<div class="statistics">

    <section class="options">
        <header>
            <img alt="Настройки отчета" src="images/settings.svg" />
            <h2>Настройка отчета</h2>
        </header>

        <div class="content">

            <section>
                <Collection HeaderText="Тип отчета:" List="ReportTypes" Selected="ReportType" T="ReportType" OnSelectCallback="Set" />
            </section>

            <section class="dates">
                <section class="options-section">
                    <h4 class="options-list-header">Год / месяц:</h4>
                    <div>
                        <ul class="options-list">
                            @foreach (var year in Years)
                            {
                                <li class="@($"option-item {GetCssClassYear(year)}")" @onclick="(() => SetYear(year))">
                                    @if (year == 0)
                                    {
                                        <span>Все</span>
                                    }
                                    else
                                    {

                                        @year
                                    }
                                </li>
                            }
                        </ul>
                        @if (DateInterval.Year != 0)
                        {

                            <ul class="options-list">
                                @foreach (var month in Months)
                                {
                                    <li class="@($"option-item {GetCssClassMonth(month)}")" @onclick="(() => SetMonth(month))">
                                        @if (month == 0)
                                        {
                                            <span>Все</span>
                                        }
                                        else
                                        {

                                            @(new DateTime(2011, month, 1).ToString("MMM"))
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        @*@if (DateInterval.Month != 0 && DateInterval.Year != 0 && false)
                        {

                            <ul class="options-list">
                                @foreach (var day in Days(DateInterval.Year, DateInterval.Month))
                                {
                                    <li class="@($"option-item {GetCssClassDay(day)}")" @onclick="(() => SetDay(day))">
                                        @if (day.from == 0 || day.to == 0)
                                        {
                                            <span>Все</span>
                                        }
                                        else
                                        {
                                            <span>@day.from - @day.to</span>
                                        }
                                    </li>
                                }
                            </ul>
                        }*@

                    </div>

                </section>


            </section>


            <section class="options-section">
                <div class="row-center">
                    <Collection HeaderText="Периодичность:" List="Intervals" Selected="Options.DateInterval" T="DateInterval" OnSelectCallback="Set" />
                    <div>
                        @if (Options.DateInterval.Type == Dates.Own)
                        {
                            <label for="input-days">Каждые n дней:</label>
                            <input id="input-days" class="entry-interval-input" type="number" min="1" max="10000" @oninput="Update" @bind-value="(Options.DateInterval.Days)" />
                        }
                    </div>
                </div>
            </section>

            <section class="options-section">
                <div class="row-center">
                    <Collection HeaderText="Источник:" List="TopicModes" Selected="Options.TopicMode" T="TopicsMode" OnSelectCallback="Set" />
                    <div>
                        @if (Options.TopicMode.Mode == TopicsModes.Topic)
                        {
                            <label for="topic-id">ID темы: </label>
                            <input type="number" id="topic-id" min="1" max="20000" list="topicsList" @oninput="Update" @bind-value="(Options.TopicMode.TopicId)" />
                            <DataTopics></DataTopics>
                        }
                    </div>
                </div>
            </section>

            <details class="source">
                <summary>
                    <h4 class="options-list-header">Подробно</h4>
                </summary>
                <div>
                    <label>
                        <span> Учет постов с даты: </span>
                        <input type="date" @bind-value="(Options.DateRange.From)" />
                    </label>
                    <label>
                        <span> По дату: </span>
                        <input type="date" @bind-value="(Options.DateRange.To)" />
                    </label>
                </div>
            </details>
        </div>

    </section>

    <div class="report">
        <header>
            <img alt="Отчет" src="images/clipboard.svg" />
            <h2>@Report.Name</h2>
        </header>

        <div class="content">

            <div class="report-info">

                <style>
                    .stat {
                        display: flex;
                        justify-content: center;
                        margin: 1em;
                    }

                    .parameter {
                        display: flex;
                        align-items: center;
                        margin: 0 1em;
                    }

                        .parameter span:first-child {
                            margin: 0 8px;
                            font-size: 1.1em;
                            color: gray;
                        }

                        .parameter span:last-child {
                            font-size: 1.3em;
                            letter-spacing: 2px;
                        }
                        .daterange{
                            text-align: center;
                            letter-spacing: 1px;
                            margin: 10px 0;
                            font-weight: 500;
                            font-size: 1.3em;
                        }
                </style>
                <h3 class="daterange">@Report.DateRange.ToString("dd MMMM yyyy","–")</h3>
                <section class="stat">
                    <div class="parameter">
                        <span>Записей:</span>
                        <span>@Report.Length</span>
                    </div>
                    <div class="parameter">
                        <span>Дней:</span>
                        <span>@Report.FirstLastPost.Diff.TotalDays.ToString("#,0.0")</span>
                    </div>
                    <div class="parameter">
                        <span>Сообщений:</span>
                        <span>@Report.SumValue.ToString("#,0")</span>
                    </div>
                </section>
            </div>

            <div class="sheme">
                @if (!Report.IsEmpty)
                {
                    <Diagram Mode="@ViewType" ModeChanged="@ChangedViewType" Report="@Report" />
                }
            </div>

        </div>

    </div>
    
</div>
