@inherits StatComponent
@page "/statistics"

<div class="statistics">

    <section class="options">
        <header>
            <img alt="Настройки отчета" src="images/settings.svg" />
            <h2>Настройка отчета</h2>
        </header>

        <div class="content">

            <section>
                <Collection HeaderText="Тип отчета:" List="Selection.ReportTypes" Selected="ReportType" T="ReportType" OnSelectCallback="Set" />
            </section>

            <section class="dates">
                <section class="options-section">
                    <h4 class="options-list-header">Охватываемый период:</h4>
                    <div>
                        <ul class="options-list">
                            @foreach (var year in Selection.Years)
                            {
                                <li class="@($"{CssSelect(DateInterval.Year, year, "option-item")}")" @onclick="(() => SetYear(year))">
                                    @if (year == 0)
                                    {
                                        <span>Вся история</span>
                                    }
                                    else
                                    {

                                        @year
                                    }
                                </li>
                            }
                        </ul>
                        @if (DateInterval.Year != 0)
                        {

                            <ul class="options-list">
                                @foreach (var month in Selection.Months)
                                {
                                    <li class="@($"option-item {CssSelect(DateInterval.Month, month)}")" @onclick="(() => SetMonth(month))">
                                        @if (month == 0)
                                        {
                                            <span>Все</span>
                                        }
                                        else
                                        {

                                            @(new DateTime(2011, month, 1).ToString("MMM"))
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        @*@if (DateInterval.Month != 0 && DateInterval.Year != 0 && false)
                        {

                            <ul class="options-list">
                                @foreach (var day in Days(DateInterval.Year, DateInterval.Month))
                                {
                                    <li class="@($"option-item {GetCssClassDay(day)}")" @onclick="(() => SetDay(day))">
                                        @if (day.from == 0 || day.to == 0)
                                        {
                                            <span>Все</span>
                                        }
                                        else
                                        {
                                            <span>@day.from - @day.to</span>
                                        }
                                    </li>
                                }
                            </ul>
                        }*@

                    </div>

                </section>


            </section>


            <section class="options-section">
                <Collection HeaderText="Периодичность:" List="Selection.Periods" Selected="Options.Period" T="Period" OnSelectCallback="Set" />
            </section>

            <section class="options-section">
                <Collection HeaderText="Источник:" List="Selection.PostSourcesArr" Selected="Options.PostSource" T="PostSource" OnSelectCallback="Set" />
            </section>

            <details class="source">
                <summary>
                    <h4 class="options-list-header">Подробно</h4>
                </summary>
                <div>
                    <div class="more-options">
                        <label>
                            <span>Учет с даты: </span>
                            <input type="date" @bind:event="oninput" @onchange="Update" @bind="(Options.DateRange.From)" />
                        </label>
                        <label>
                            <span>По дату: </span>
                            <input type="date" @bind:event="oninput" @onchange="Update" @bind="(Options.DateRange.To)" />
                        </label>
                        <label>
                            <span>Включать пустые периоды: </span>
                            <input type="checkbox" @bind:event="oninput" @onchange="Update" @bind="(Options.EmptyPeriodsEnabled)" />
                        </label>
                    </div>
                    <div class="more-options">

                        @if (Options.Period == Periods.Own)
                        {
                            <label for="input-days">Каждые:</label>
                            <input id="input-days" class="entry-interval-input" type="number" min="0.1" step="1" max="3650" @bind:event="oninput" @onchange="Update" @bind="(Options.Period.Days)" />
                            <span>дней</span>
                        }
                    </div>
                    <div class="more-options">
                        @if (Options.PostsTopic != null && Options.PostsTopic.Mode == PostSources.Topic)
                        {
                            <label for="topic-id">ID темы: </label>
                            <input type="number" id="topic-id" min="1" max="20000" list="topicsList" @bind:event="oninput" @onchange="Update" @bind="(Options.PostsTopic.TopicId)" />
                            <DataTopics></DataTopics>
                        }
                    </div>

                </div>
            </details>
        </div>

    </section>

    <div class="report">
        <header>
            <img alt="Отчет" src="images/clipboard.svg" />
            <h2>@Report.Name</h2>
        </header>

        <div class="content">

            <div class="report-info">

                <style>
                    .stat {
                        display: flex;
                        justify-content: center;
                        margin: 1em;
                    }

                    .parameter {
                        display: flex;
                        align-items: center;
                        margin: 0 1em;
                    }

                        .parameter span:first-child {
                            margin: 0 8px;
                            font-size: 1.1em;
                            color: gray;
                        }

                        .parameter span:last-child {
                            font-size: 1.3em;
                            letter-spacing: 2px;
                        }
                        .daterange{
                            text-align: center;
                            letter-spacing: 1px;
                            margin: 10px 0;
                            font-weight: 500;
                            font-size: 1.3em;
                        }
                </style>
                <h3 class="daterange">@Report.DateRangeAll.ToString("dd MMMM yyyy","–")</h3>
                <section class="stat">
                    <div class="parameter">
                        <span>Записей:</span>
                        <span>@Report.Length</span>
                    </div>
                    <div class="parameter">
                        <span>Дней:</span>
                        <span>@Report.DateRangePosts.DaysDifference.ToString("#,0.0")</span>
                    </div>
                    <div class="parameter">
                        <span>Сообщений:</span>
                        <span>@Report.SumValue.ToString("#,0")</span>
                    </div>
                </section>
            </div>

            <div class="sheme">
                @if (!Report.IsEmpty)
                {
                    <ReportView Mode="@ViewType" ModeChanged="@ChangedViewType" Report="@Report" />
                }
            </div>

        </div>

    </div>
    
</div>
